* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  background-color: tomato;
  height: 80vh;
  padding: 40px 20px;
}

.title {
  text-transform: capitalize;
}
